RISE
plotly
plotnine
rpy2
pandas
scipy
wordcloud
cufflinks
kaleido
sqlalchemy_utils
ipywidgets_jsonschema
ipyfilechooser
appdirs
markdown
jupyter-ai
openai
langchain-openai
openai-chat
python-dotenv
groq
https://raw.githubusercontent.com/PASTAQ-MS/PASTAQ/venus/feature/ci/tools/rugllm_provider-0.1.0-py3-none-any.whl
